/* BASIC */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
}
canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* CURSOR */
#cursor {
  position: absolute;
  width: 112px;
  height: 112px;
  pointer-events: none;
  top: -56px;
  left: -56px;
  /*   transform: translate(-50%, -50%); */
  z-index: 1000;
}
.hidden {
  display: none;
}

/* CODER */
.coder-layer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
}
.coder-pic-box {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 20vw;
  height: auto;
  flex-shrink: 0;
  overflow: hidden;
  z-index: 10;
}
.coder-pic-box img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}
.coder-text-box {
  position: absolute;
  top: -15vw;
  left: 10vh;
  z-index: 9;
}
.coder-text {
  color: #000;
  font-family: xrw;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 75%;
}

/* PART1 */

.glassbox1 {
  height: 30vh;
  width: 100%;
  flex-shrink: 0;
  align-self: stretch;
}
.vo-text {
  display: none;
  color: #000000;
  font-family: "PingFang SC bold";
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.vo-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  margin: 0 20%;
}
.colorize {
  font-size: 21px;
  font-weight: 1000;
  background: linear-gradient(135deg, #b993d6, #65c7f7, #8ca6db);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: clr 2s linear infinite;
}
@keyframes clr {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(30deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
/* NOTEBOOK */
.notebook {
  width: 30vw;
  height: auto;
  background-image: url(../pic/memo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ntb-title {
  color: #000;
  text-align: right;
  font-family: 新叶念体;
  font-size: 66px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ntb-boxbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 29px;
}
.ntb-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ntb-text {
  color: #000;
  font-family: 新叶念体;
  font-size: 69px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
