/* BASIC */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-image: url("../pic/paper.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body.noscroll {
  overflow: hidden;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
}
/* canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
} */

/* CURSOR */
#cursor {
  position: absolute;
  width: 112px;
  height: 112px;
  pointer-events: none;
  top: -56px;
  left: -56px;
  /*   transform: translate(-50%, -50%); */
  z-index: 1000;
}
.hidden {
  display: none;
}

/* CODER */
.coder-layer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
}
.coder-box {
  display: none;
}
.coder-pic-box {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 20vw;
  height: auto;
  flex-shrink: 0;
  overflow: hidden;
  z-index: 10;
}
.coder-pic-box img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}
.coder-text-box {
  position: relative;
  top: -8vw;
  left: 10.5vh;
  z-index: 9;
}
.coder-text {
  color: #000;
  font-family: xrw;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 75%;
}
.coder-chatbox {
  position: relative;
  bottom: 300px;
  left: 200px;
}
#chat1 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  width: 500px;
}
#chat3 {
  position: absolute;
  top: -40vh;
  left: 0vw;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  width: 500px;
}
#chat4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  width: 500px;
}
.bubble {
  display: none;
  padding: 20px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 23px;
  background: rgba(255, 255, 255, 0.8);
}
.chat-text {
  color: #000;
  font-family: HYXinRenWenSongW;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

/* TITLE */
.title-layer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
}
.title {
  display: inline-flex;
  padding: 15px 6px;
  align-items: flex-start;
  gap: 17px;
}
.title p {
  color: #000;
  font-family: HYXinRenWenSongW;
  font-size: 86px;
  font-style: normal;
  font-weight: 400;
  line-height: 81.805%; /* 70.352px */
  letter-spacing: -15.48px;
}

/* ANIMATION */
.animate__fadeInCustom {
  animation-duration: 0.2s;
}
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
@keyframes fadeInCustom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.underline {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #333;
  transition: width 0.2s ease;
}
.underline:hover::after {
  width: 100%;
}
/* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover,
.hvr-pulse:focus,
.hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* EFFECT */
.text-shadow {
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
}
.box-shadow {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* PART0 */
.text-layer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.glassbox1 {
  height: 25vh;
  width: 100%;
  flex-shrink: 0;
  align-self: stretch;
}
.p0-box {
  display: inline-flex;
  width: 65%;
  justify-content: space-between;
  align-items: flex-start;
  gap: 37px;
}
.vo-text {
  display: none;
  color: #000000;
  font-family: "PingFang SC bold";
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.vo-box {
  transition: width 0.5s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  width: auto;
  min-width: 400px;
  margin: 0;
}
.colorize {
  font-size: 21px;
  font-weight: 1000;
  background: linear-gradient(135deg, #b993d6, #65c7f7, #8ca6db);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: clr 2s linear infinite;
}
@keyframes clr {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(30deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
/* NOTEBOOK */
.notebook1 {
  display: none;
  width: 625px;
  height: 500px;
  background-image: url(../pic/memo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.notebook-box {
  display: flex;
  align-items: flex-start;
}
.notebook2 {
  width: 625px;
  height: 500px;
  background-image: url(../pic/memo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ntb-title {
  color: #000;
  text-align: left;
  font-family: HYXinRenWenSongW;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ntb-boxbox {
  width: 400px;
  position: relative;
  top: 134px;
  left: 69px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}
.ntb-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ntb-box img {
  width: 30px;
  height: auto;
}
.ntb-text {
  color: #000;
  font-family: HYXinRenWenSongW;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ntb-text-fin {
  color: #000;
  font-family: HYXinRenWenSongW;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: line-through;
}
.ntb-hint {
  margin-top: 140px;
  position: relative;
  display: flex;
  align-items: center;
}
.ntb-hint p {
  color: #626262;
  /* info */
  font-family: "PingFang SC light";
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* PART1 */
.p1-box {
  position: relative;
  left: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 200px 52px;
  gap: 120px;
}
.user-card-box {
  align-items: flex-start;
  display: flex;
  gap: 30px;
}
.user-card {
  display: flex;
  width: 500px;
  height: auto;
  margin: 100 50 0 50;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  border-radius: 28px;
  border: 9px solid #000;
  box-shadow: 10px 6px 4px 0px rgba(0, 0, 0, 0.25);
}
.user-infobox {
  display: flex;
  width: 539px;
  padding: 50px 63px;
  align-items: center;
  gap: 14px;
}
.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.user-name {
  color: #000;
  font-family: "PingFang SC";
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.user-detail {
  display: flex;
  align-items: flex-start;
  gap: 3px;
}
.user-detail p {
  color: #000;
  font-family: "PingFang SC";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.user-selfile {
  display: flex;
  padding: 30px 45px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px -12px 5.1px 0px rgba(0, 0, 0, 0.25);
}
.user-filebox {
  display: flex;
  align-items: flex-start;
  gap: 11px;
  align-self: stretch;
}
.user-filebox-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  flex: 1 0 0;
}
.user-filebox-title {
  color: #000;
  font-family: "PingFang SC";
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.user-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  align-self: stretch;
}
.user-list-itembox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.user-list-text {
  color: #000;
  font-family: "PingFang SC";
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}
.user-list-item {
  display: flex;
  padding: 5px 7px;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: #f4f4f4;
  color: #000;
  font-family: "PingFang SC";
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex: 1 0 0;
}
.user-list-item option {
  color: #000;
  font-family: "PingFang SC";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex: 1 0 0;
}
.user-yes {
  display: flex;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
  background: #000;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.button-next-text {
  color: #fff;
  font-family: "PingFang SC";
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hint-boxbox {
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 33px;
}
.hint-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
#hint1 {
  top: 30%;
  left: 70%;
}
#hint2 {
  top: 50%;
  left: 70%;
}
.hint-text {
  color: #929292;
  width: 150px;
  font-family: "PingFang SC";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* CNT */
.cntboxbox {
  display: inline-flex;
  align-items: center;
  gap: 28px;
  opacity: 0;
  align-self: stretch;
}
.cntbox {
  display: flex;
  padding: 32px 46px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
}
.cntbox-item {
  display: flex;
  width: 320px;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  gap: 5px 5px;
  flex-wrap: wrap;
}
.cnt-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 43px;
  align-self: stretch;
}
.cnt-info-text {
  color: #000;
  font-family: HYXinRenWenSongW;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 131.602%; /* 40.797px */
  letter-spacing: -1.24px;
  align-self: stretch;
}
.cnt-memo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.cnt-tab {
  display: flex;
  align-items: center;
  gap: 0px;
}
.cnt-tab-text {
  color: #000;
  font-family: "PingFang SC";
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cnt-chgebox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.cnt-chge-hint {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cnt-chge-hint p {
  color: #929292;
  font-family: "PingFang SC";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cnt-chge {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
}
.cnt-chge-buttonbox {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
.cnt-chge-button {
  width: 160px;
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.25);
}
.cnt-chge-button p {
  color: #000;
  font-family: HYXinRenWenSongW;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#cnt-chge-btn1 {
  border: 3px solid #cd1616;
}
#cnt-chge-btn2 {
  border: 3px solid #0065c2;
}
#cnt-chge-btn3 {
  border: 3px solid #c38c00;
}
.cnt-chge-memo {
  border-radius: 7px;
  display: flex;
  margin: 0px 13px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear, height 0.5s linear;
}

.cnt-chge-memo p {
  color: #000;
  font-family: HYXinRenWenSongW;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* PART2 */
.p2-box {
  position: relative;
  left: 60%;
  display: inline-flex;
  align-items: flex-start;
}
/* COMMENT */
.comment-boxbox {
  display: inline-flex;
  align-items: flex-start;
  gap: 132px;
  opacity: 0;
}
.question-box {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.question {
  display: flex;
  padding: 60px 37px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  border-radius: 23px;
  background: rgba(227, 227, 227, 0.7);
}
.question-title {
  color: #000;
  font-family: HYXinRenWenSongW;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 40px */
}
.question-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}
.question-text {
  color: #000;
  font-family: HYXinRenWenSongW;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 32px */
}
/* .question-text span {
  text-decoration-line: underline;
} */

.phone-boxbox {
  display: flex;
  align-items: flex-start;
  gap: 156px;
}
.phone-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 33px;
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
.phone {
  width: 400px;
  height: 810px;
  overflow: hidden;
  position: relative;
}
.phone-cmp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none !important;
}
.phone-cmp img {
  width: 100%;
  height: 100%;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  pointer-events: none !important;
}
.phone-text {
  color: #000;
  font-family: "PingFang SC";
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.phone-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 14px 18px;
  border-radius: 100px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #e9e9e9;
}

.phone-content::-webkit-scrollbar {
  display: none;
}
.comment-box {
  display: flex;
  padding: 10px 15px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 20px;
  background: #fff;
}
.comment {
  display: flex;
  width: 356px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.comment-name {
  color: #595959;
  font-family: "PingFang SC";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.comment-text {
  color: #000;
  font-family: "PingFang SC";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}
.comment-detail {
  display: flex;
  align-items: flex-start;
  gap: 46px;
  align-self: stretch;
}
.comment-detail p {
  color: #595959;
  font-family: "PingFang SC";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
